{% extends "base.html" %}
{% load static %}

{% block title %}
Doodle - Contact
{% endblock %}

{% block style %}
<style>
    form { max-width:420px; margin:50px auto; }

form {
    margin-top: 150px;
}

.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #198754;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #146c43; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#198754;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#146c43; }

::-webkit-scrollbar {
width: 3px;
}

::-webkit-scrollbar-track {
background: #fff;
}

::-webkit-scrollbar-thumb {
background: #000;
border-radius: 10px;
}
</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="/">Doodle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/">Illustrations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'artists' %}">Artists</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-success" style="margin-right: 8px;">Sign up</button>
        <button type="button" class="btn btn-success">Login</button>
      </div>
    </div>
  </nav>

<form>      
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>

  <hr>
  <div class="blockcode">
  
    <footer class="page-footer text-dark">
      <div class="d-flex flex-column mx-auto py-5" style="width: 70%">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="align-self-center">
            <a href="/#" class="d-flex align-items-center p-0 text-dark" style="text-decoration: none;">
              <span class="h5 font-weight-bold text-dark" style="margin-bottom: 160px;">Doodle</span>
            </a>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Get to know us</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Illustrations</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Blog</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="{% url 'artists' %}" style="text-decoration: none;">Artists</a>
              </li>
              <li class="my-2"><a class="text-dark" href="/" style="text-decoration: none;">About Us</a></li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Help</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="{% url 'contact' %}" style="text-decoration: none;">Contact</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Sign Up</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Sign In</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Stay in touch</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Discord</a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/" style="text-decoration: none;">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
        <small class="text-center mt-5">&copy; Doodle, 2024. All rights reserved.</small>
      </div>
    </footer>
  </div>

{% endblock %}