{% extends "base.html" %}
{% load static %}

{% block title %}
Doodle - Create
{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-black" href="/">Doodle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" href="{% url 'illustrations' %}">Illustrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="{% url 'artists' %}">Artists</a>
        </li>
      </ul>
      <a class="btn btn-outline-success" style="margin-right: 8px;">Sign up</a>
      <a class="btn btn-success">Login</a>
    </div>
  </div>
</nav>

<h2 class="text-black text-center flex-column" >
  {%if form.instance.pk %}
  Edit Doodle
  {% else %}
  Post a Doodle
  {% endif %}
  <form method="post" enctype="multipart/form-data" style="margin-top: 80px;" class="form">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
  </form>
</h2>

{% endblock %}